{% extends 'base.html' %}
{% block content %}
    <div class="card col-6">
        <form method="post" action="">
            {% csrf_token %}
            <div class="card card-green">
                <div class="card-header">
                    <h3 class="card-title">Zmień hasło</h3>
                </div>
                <div class="card-body">

                    <p>{{ form.old_password.label }}
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                        </p>
                    <p>{{ form.new_password1.label }}
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                        </p>
                    <p>{{ form.new_password2.label }}
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}</p>
                    <div class="card-body">
                        <div class="row">
                            <button type="submit" class="btn btn-block btn-warning btn-med">Zapisz
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

