{% extends 'user/user_base.html' %}
{% load static %}
{% block user_body %}
    {% if validlink %}
        <p class="login-box-msg">Podaj nowe hasło</p>
        <form action="" method="post">
            {% csrf_token %}
            <p class="text-center">
                Nowe hasło:
                {{ form.new_password1 }}
            </p>
            <p class="text-center">
                Powtórz
                {{ form.new_password2 }}
            </p>

            <p>
                <input type="submit" class="btn btn-primary btn-block" value="Zresetuj hasło">
            </p>
        </form>
    {% else %}
        <p>
            Link pozwalający na reset hasła jest niepoprawny - być może dlatego, że został już raz użyty. Możesz
            ponownie zażądać zresetowania hasła.
        </p>
    {% endif %}
{% endblock %}