{% extends 'user/user_base.html' %}
{% load static %}
{% block user_body %}
    <p class="login-box-msg">Utwórz konto</p>
    <form action="{% url "register-form" %}" method="post">
        {% csrf_token %}
        {{ form.username.label }}
        <div class="input-group mb-3">
            {{ form.username }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
            {{ form.username.errors }}
        </div>
        {{ form.email.label }}
        <div class="input-group mb-3">
            {{ form.email }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
            {{ form.email.errors }}
        </div>
        {{ form.password1.label }}
        <div class="input-group mb-3">
            {{ form.password1 }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            {{ form.password1.errors }}
        </div>
        {{ form.password2.label }}
        <div class="input-group mb-3">
            {{ form.password2 }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
            {{ form.password2.errors }}
        </div>
        <div class="row">
            <div class="col-7">
                <div class="icheck-primary">
                    <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                    <label for="agreeTerms">
                        Zapoznałem się z <a href="#">regulaminem</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <a href="{% url "login" %}" class="text-center">Masz już konto? Zaloguj się!</a>
{% endblock %}
