{% autoescape off %}

    <p>Otrzymujesz tę wiadomość, gdyż skorzystano z opcji resetu hasła dla Twojego konta na stronie {{ domain }} Twoja
    Świnka.<p>

    <p>Aby wprowadzić nowe hasło, proszę przejść na stronę, której adres widnieje poniżej:</p>

    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

    <p>Twoja nazwa użytkownika, na wypadek, gdybyś zapomniał(a): {{ user.get_username }}</p>

    <p>Dziękujemy za korzystanie naszej strony.</p>

    <p>Zespół TwojaŚwinka</p>

{% endautoescape %}