{% extends 'user/user_base.html' %}
{% load static %}
{% block user_body %}
    {% if form %}
        <p class="login-box-msg">Podaj email, na który wyślemy link do zresetowania hasła</p>
        <form action="" method="post">
            {% csrf_token %}
            <p class="text-center">Email
                {{ form.email }}
            </p>
            <p>
                <input type="submit" class="btn btn-primary btn-block" value="Zresetuj hasło">
            </p>
        </form>
    {% else %}
        <p class="login-box-msg">Podany email nie istnieje w naszej bazie
            <a href="{% url "password-reset" %}" class="text-center">Spróbuj ponownie</a></p>
    {% endif %}
    <p class="mb-0">
        <a href="{% url "register-form" %}" class="text-center">Utwórz konto!</a>
    </p>
{% endblock %}
