{% extends 'base.html' %}

{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Zaplanowane budżety na bieżący miesiąc:</h3>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="month" name="date_search" class="form-control float-right">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i
                                    class="fas fa-search"></i>
                            </button>

                        </div>
                    </div>
                </form>
            </div>
            <div>
                <a href="{% url "add-budget" %}">
                    <button type="button" class="btn btn-block btn-success btn-sm">Dodaj budżet</button>
                </a>
            </div>
            <div class="card-body table-responsive-xl">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Budżet</th>
                        <th>Wydatki</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if budgets.count == 0 %}
                        <tr>
                            <td colspan="5" class="text-center">
                                Nie masz żadnych zaplanowanych budżetów na te miesiąc. Kliknij przycisk "Dodaj budżet", aby utworzyć.
                            </td>
                        </tr>
                    {% endif %}
                    {% for budget in budgets %}
                        <tr>
                            <td>{{ budget.category.name }}</td>
                            <td>{{ budget.budget }} zł</td>
                            {% if budget.budget < budget.expenses %}
                                <td style="color: red">{{ budget.expenses }} zł</td>
                            {% else %}
                                <td style="color: darkgreen">{{ budget.expenses }} zł</td>
                            {% endif %}
                            <td><a href="/budget/details/{{ budget.id }}/">Szczegóły</a></td>
                            <td><a href="/budget/delete/{{ budget.id }}/">Usuń</a></td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <th>Kategoria</th>
                        <th>Budżet</th>
                        <th>Wydatki</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}